.link {
  color: var(--gray-5);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

header {
  margin: 0;
  padding: 12px;
  background-color: var(--gray-12);
  box-shadow: var(--shadow-6);
}

.titulo {
  font-size: small;
  color: var(--gray-10);
  font-weight: bold;
  text-decoration: none;
}

.titulo:active {
  color: var(--indigo-10); 
}