main {
  display: flex;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-12);
  width: 280px;
  height: calc(100vh - 54px);

}

.menu a {
  display: block;
  text-decoration: none;
  padding: 12px;
  color: var(--gray-5);
}

.menu a:hover {
  background-color: var(--gray-11);
  opacity: .5;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.menu a:focus {
  opacity: 0.5;
  background-color: var(--gray-9);  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


